<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Realtime Twitter</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    {{> navbar}}
    <button class="hidden" id="open-button"> open-button </button>
    <div class="container">

        {{{ body }}}

    </div><!-- /.container -->


    <div class="modal closed" id="modal">
        <div class="anhdt-modal-header hidden">
            People liked this tweet
            <button  id="close-button" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-guts">


            <div class="modal-contenttt-wr">
                <div class="spinner"> <img src="/images/Spinner-1.5s-46px.gif"> </div>
                <div class="modal-content-main">
                    
                </div>
            </div>
        
        </div>
    </div>

    <div class="modal-overlay closed" id="modal-overlay">
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/autoresize.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/follow.js"></script>
    <script src="/js/deleteTweet.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/no-socket.js"></script>
    <script src="/js/notification.js"></script>

</body>

</html>
